html{
    background-color: rgb(247,230,210);
}
#canvas{
    margin: 10px;
}
#Result{
    color: black;
    background-color: rgb(252, 140, 233);
    border: none;
    outline: none;
    padding: 1.2rem 2rem;
    cursor: pointer;
    user-select: none;
    margin: 10px;
}
body {
    background: url(./img/back4.jpg) center no-repeat;
    background-size: cover;
}
table {
    font-size: 20px;
    color: black;
    margin: 10px; 
    background-color: white;
    border-collapse: collapse;
    border: 1px solid black;
}
.blockBody{
    display: flex;
}
thead{
    font-size: 20px;
    display: inline-block;
} 
td, tr {
    text-align: center;
    border: 1px solid black;
    padding: 10px;
}

#output {
    color: black;
    padding-left: 10px;
    text-align: center;
    
}
.thead{
    display: none;
}