.header{
    text-align: center;
}

.canvas{
    position: relative;
    display: inline-block;
}

.clsname{
    position: absolute;
    top: -10px;
    left: 15px;
}

.controls{
    position: absolute;
    bottom: -50px;
    left: 15px;
}