@font-face {
    font-family: Genshin;
    src: url("additionFiles/Genshin_Impact.ttf");
}

body {
    background-image: url("additionFiles/background.jpg");
}


a {
    font-family: Genshin;
    font-size: 16px;
}

#down {
    position: absolute;
    font-size: 32px;
    top: 12px;
    left: 15px;
}


/* выпадающее меню */
.dropdown {
    background-color: #E5FAFF;
    display: inline-block;
    width: 225px;
    height: 60px;

    left: 20px;
    top: 10px;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: -1px;
    background-color: #E5FAFF;
    min-width: 160px;
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 8px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    opacity: 0.5;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.btn:hover, .dropdown:hover .btn  {
    background-color: #0b7dda;
}


/* слова */
label {
    position: absolute;
    font-family: Genshin;
    font-size: 25px;
    text-align: center;
    vertical-align: center;
}

#brbsays {
    left: calc((1920px - 200px) / 2 + 350px);
    top: 550px;
    transform: rotate(20deg);
}

#rzrsays {
    left: 350px;
    top: 350px;
    transform: rotate(-20deg);
}

#neurotitle {
    position: absolute;
    font-family: Genshin;
    width: 540px;
    font-size: 30px;
    top: 50%;
    margin-top: -0.625em;
    left: 90px;
}

/* стили кнопок */
button {
    position: absolute;

    font-family: Genshin;
    font-size: 20px;
    text-align: center;

    background-color: #EFE6CE;
    color: black;

    width: 180px;
    height: 60px;

    box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
    border-radius: 20px;
}

button:hover{
    opacity: 0.75;
}

#clear {
    top: 10px;
    left: 10px;
}

#determine {
    left: 10px;
    top: calc(70px + 140px + 20px);
}


/* стили div'ов */
div {
    position: absolute;
    border-radius: 20px;
    top: 80px;
    border: 1px solid;
}

#todrawin {
    left: calc((1920px - 200px) / 2);
    width: 200px;
    height: 500px;
    border: 0px solid;
}

#answer {
    font-size: 140px;
    width: 150px;
    height: 150px;
    left: 25px;
    top: calc(70px + 140px + 20px + 85px);
}

#drawfield {
    position: absolute;
    left: calc((1920px - 200px) / 2 + 30px);
    top: calc(80px + 10px + 60px + 10px);
}

#description {
    left: 20px;
    width: 820px;
    height: 500px;
}

#info {
    left: 1080px;
    width: 820px;
    height: 500px;
}

#titlefield {
    top: 10px;
    left: calc((1920px - 700px)/2);
    height: 60px;
    width: 720px;
    text-align: center;
}


/* картиночки */
img {
    position: absolute;
}

#barbara {
    top: 558px;
    left: calc((1920px - 200px) / 2 + 30px);
}

#razor {
    top: 370px;
    left: 350px
}