@font-face {
    font-family: Genshin;
    src: url("additionFiles/Genshin_Impact.ttf");
}

body {
    background-image: url("additionFiles/background.jpg");
}


/* слова */
label {
    position: absolute;
    font-family: Genshin;
    font-size: 25px;
    text-align: center;
    vertical-align: center;
}

#brbsays {
    left: calc((1920px - 200px) / 2 + 350px);
    top: 550px;
    transform: rotate(20deg);
}

#rzrsays {
    left: 350px;
    top: 350px;
    transform: rotate(-20deg);
}

#neurotitle {
    position: absolute;
    font-family: Genshin;
    width: 540px;
    font-size: 30px;
    top: 50%;
    margin-top: -0.625em;
    left: 90px;
}

/* стили кнопок */
button {
    position: absolute;
    font-family: Genshin;
    font-size: 20px;
    text-align: center;
    background-color: #EFE6CE;
    color: black;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
    border-radius: 20px;
}

button:hover{
    opacity: 0.75;
}

#clear {
    width: 180px;
    height: 60px;
    top: 10px;
    left: 10px;
}

#determine {
    width: 180px;
    height: 60px;
    left: 10px;
    top: calc(70px + 140px + 20px);
}


/* стили div'ов */
div {
    position: absolute;
    border-radius: 20px;
    top: 80px;
}

#todrawin {
    left: calc((1920px - 200px) / 2);
    width: 200px;
    height: 500px;
}

#answer {
    font-size: 140px;
    width: 150px;
    height: 150px;
    left: 25px;
    top: calc(70px + 140px + 20px + 85px);
}

#drawfield {
    position: absolute;
    left: calc((1920px - 200px) / 2 + 30px);
    top: calc(80px + 10px + 60px + 10px);
}

#description {
    left: 20px;
    width: 820px;
    height: 500px;
}

#info {
    left: 1080px;
    width: 820px;
    height: 500px;
}

#titlefield {
    top: 10px;
    left: calc((1920px - 700px)/2);
    height: 60px;
    width: 720px;
    border: 1px solid;
    text-align: center;
}


/* картиночки */
#barbara {
    position: absolute;
    top: 558px;
    left: calc((1920px - 200px) / 2 + 30px);
}

#razor {
    position: absolute;
    top: 370px;
    left: 350px
}