html{
    background: url(./img/lxwh1ksiupu51.png) no-repeat;
    background-size: 73%;
    background-position: 170% 10%;
    /* background-position:right; */
    /* background-size: auto; */
    background-color: rgb(198,231,251);
}
#canvas{
    margin: 25px;
    box-shadow: 5px 2px 10px rgba(0,0,0,0.5);
    border-radius: 12px;
    background-size: 60%;
    background: url(./img/Element_Anemo.png) center no-repeat;
    background-color: rgb(58, 131, 127);
}
#Result{
    color: black;
    border: none;
    outline: none;
    padding: 1.2rem 2rem;
    padding-left: 70px;
    cursor: pointer;
    user-select: none;
    margin: 25px;
    font-size: 30px;
    font-family: "Genshin Impact";
    border-radius: 12px;
    box-shadow: 5px 2px 10px rgba(0,0,0,0.5);  
    background: url(./img/Element_Anemo.png) center no-repeat;
    background-size: 12%;
    background-position: 5px;   
    background-color: rgb(58, 131, 127);
}
body {
    font-size: 25px;
    font-family: "Genshin Impact";
}
table {
    font-size: 25px;
    color: black;
    margin: 10px; 
    background-color: rgba(250, 219, 219, 0);
    /* border-collapse: collapse; */
    /* border: 1px solid black; */
    border-radius: 6px;
}
.blockBody{
    display: flex;
}
thead{
    display: inline-block;
} 
td, tr {
    text-align: center;
    /* border: 1px solid black; */
    padding: 10px;
    border-radius: 6px;
    background-color: rgb(172, 138, 180);
    box-shadow: 5px 2px 10px rgba(0,0,0,0.5);
}

#output {
    color: black;
    padding-left: 10px;
    text-align: center;
}
.thead{
    display: none;
    color: rgb(0, 0, 0);
    background-color: rgb(172, 138, 180);
    border-radius: 4px;
    box-shadow: 5px 2px 10px rgba(0,0,0,0.5);
    font-size: 30px;
}
h1{
    text-align: center;
    color: black;
}
@font-face {
    font-family: "Genshin Impact"; 
    src: url("./font/Genshin_Impact.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: normal; 
    } 