html{

    background: url(./img/back12.jpg) center no-repeat;
    background-size: cover;
    background-color: rgb(132,56,58);
}
#canvas{
    margin: 25px;
}
#Result{
    color: black;
    background-color: rgb(216, 96, 100);
    border: none;
    outline: none;
    padding: 1.2rem 2rem;
    cursor: pointer;
    user-select: none;
    margin: 25px;
    font-size: 20px;
}
body {
    font-size: 20px;
}
table {
    font-size: 20px;
    color: black;
    margin: 10px; 
    background-color: white;
    border-collapse: collapse;
    border: 1px solid black;
}
.blockBody{
    display: flex;
}
thead{
    display: inline-block;
} 
td, tr {
    text-align: center;
    border: 1px solid black;
    padding: 10px;
}

#output {
    color: black;
    padding-left: 10px;
    text-align: center;
    
}
.thead{
    display: none;
}
#top {
    color: aliceblue;
}